<button
  class="btn btn-outline-primary d-lg-none m-3"
  (click)="openSidebar(sidebar)"
>
  ☰ Cerca
</button>

<!-- Sidebar dinamica (offcanvas) -->
<ng-template #sidebar let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menu</h5>
    <button
      type="button"
      class="btn-close"
      (click)="offcanvas.close()"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="flex-column">
      <app-filters></app-filters>
    </div>
  </div>
</ng-template>

<div class="d-flex flex-column vh-100">
  <header class="container-fluid bg-light">
    <div class="row">
      <div
        class="col-5 col-xl-4 d-none d-lg-block border align-items-center py-3 px-4"
      >
        Cerca
        <div class="inline grado-header">
          Grado:
          <div class="inline grado basso">Basso</div>

          <div class="inline grado alto me-2">Alto</div>
        </div>
      </div>
      <div
        class="col-7 col-xl-8 flex-grow-1 border-light text-center d-flex py-2"
      >
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-3">Segni della combinazione</div>
            <div class="col-6">Significato</div>
            <div class="col-3 d-flex">
              <div class="ms-auto">
                Aggiungi:
                <button
                  type="button"
                  (click)="openModalCombiantion()"
                  class="btn btn-outline-success ms-2 me-4"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="d-flex flex-grow-1 overflow-hidden">
    <aside class="col-5 col-xl-4 bg-light p-3 overflow-auto d-none d-lg-block">
      <app-filters></app-filters>
    </aside>

    <main class="col-7 col-xl-8 flex-grow-1 overflow-auto p-3">
      <div
        [class.d-none]="this.sharedState.errorMessage() == ''"
        class="alert alert-danger"
        role="alert"
      >
        {{ this.sharedState.errorMessage() }}
      </div>
      <app-combination-list></app-combination-list>
    </main>
  </div>
</div>
