
.vscode/

target/
backend/target/
*.class

.spring-boot-devtools.properties

node_modules/
frontend/node_modules/

.xcf
.env
.code-workspace
.editorconfig
frontend/.angular/**
frontend/node_modules/**



