services:
  database:
    image: postgres:16-alpine
    container_name: postgresDB
    environment:
      POSTGRES_DB: grafosupporterDB
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes: # Salva i dati del db su disco (persistono anche se il container viene stoppato)
      - postgres_data:/var/lib/postgresql/data
    restart: always

  backend:
    image: ghcr.io/monkymiky/GrafoSupporter:latest-backend
    container_name: grafosupporter_backend
    ports:
      - "8080:8080"
    depends_on:
      - database
    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - uploads:/app/uploads
    restart: always

  frontend:
    image: ghcr.io/monkymiky/GrafoSupporter:latest-frontend
    container_name: grafosupporter_frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
  uploads:
