<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title">{{ pageTitle() }}</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <div
      [class.d-none]="errorMessage() == null"
      class="alert alert-danger"
      role="alert"
    >
      {{ errorMessage() }}
    </div>
    <div
      [class.d-none]="successMessage() == null"
      class="alert alert-success"
      role="alert"
    >
      {{ successMessage() }}
    </div>
    <form [formGroup]="combinationForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Titolo Descrittivo*</label>
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
          placeholder="Inserisci un titolo descrittivo"
          [class.is-invalid]="
            titleCtrl.invalid && (titleCtrl.dirty || titleCtrl.touched)
          "
        />
        @if (titleCtrl.invalid && (titleCtrl.dirty || titleCtrl.touched)) {
        <div class="invalid-feedback d-block">
          @if (titleCtrl.errors?.['required']) {
          <span>Il titlolo è obbligatorio.</span> } @if
          (titleCtrl.errors?.['minlength']) {
          <span
            >Il titlolo deve avere almeno
            {{ titleCtrl.errors?.['minlength'].requiredLength }}
            caratteri.</span
          >
          }
        </div>
        }
      </div>

      <hr />

      <h3>Segni</h3>
      <div
        class="row g-3 align-items-center mb-2 header-signs text-muted small ms-2 header-labels"
      >
        <div class="col-xl-5 col-lg-5 col-md-4 sign-header-sign">
          Seleziona un segno
        </div>
        <div class="col-md-2 intervallo-header-sign">Intervallo</div>
        <div class="col-md-3 classificazione-header-sign">Classificazione</div>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div
          class="sign-block border rounded p-3 mb-3 flex-grow-1"
          formGroupName="firstSign"
        >
          <app-sign-form-field
            [signFormGroup]="combinationForm.controls.firstSign"
            [availableSigns]="sharedState.signs()"
            [signIndex]="0"
          >
          </app-sign-form-field>
        </div>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary ms-4 me-3 mb-3"
          disabled
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div
          class="sign-block border rounded p-3 mb-3 flex-grow-1"
          formGroupName="secondSign"
        >
          <app-sign-form-field
            [signFormGroup]="combinationForm.controls.secondSign"
            [availableSigns]="sharedState.signs()"
            [signIndex]="1"
          >
          </app-sign-form-field>
        </div>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary ms-4 me-3 mb-3"
          disabled
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div formArrayName="otherSigns">
        @for (otherSign of combinationForm.controls.otherSigns.controls; track
        $index) {
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div
            class="sign-block border rounded px-2 pt-3 mb-3 flex-grow-1"
            [formGroupName]="$index"
          >
            <div
              class="d-flex justify-content-between align-items-center mb-3 px-2"
            >
              <app-sign-form-field
                [signFormGroup]="otherSign"
                [availableSigns]="sharedState.signs()"
                [signIndex]="$index + 2"
                class="flex-grow-1"
              >
              </app-sign-form-field>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-sm btn-outline-danger ms-4 me-3 mb-3"
            (click)="removeOtherSign($index)"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        }
      </div>

      <button
        type="button"
        class="btn btn-secondary mt-2"
        (click)="addOtherSign()"
      >
        Aggiungi Segno
      </button>

      <hr />

      <div class="mb-3">
        <label for="shortDescription" class="form-label"
          >Descrizione Breve*</label
        >
        <textarea
          id="shortDescription"
          class="form-control"
          formControlName="shortDescription"
          rows="4"
          [class.is-invalid]="
            shortDescriptionCtrl.invalid &&
            (shortDescriptionCtrl.dirty || shortDescriptionCtrl.touched)
          "
        ></textarea>
        @if (shortDescriptionCtrl.invalid && (shortDescriptionCtrl.dirty ||
        shortDescriptionCtrl.touched)) {
        <div class="invalid-feedback d-block">
          @if (shortDescriptionCtrl.errors?.['required']) {
          <span>La descrizione breve è obbligatoria.</span> } @if
          (shortDescriptionCtrl.errors?.['minlength']) {
          <span
            >La descrizione breve deve avere almeno
            {{ shortDescriptionCtrl.errors?.['minlength'].requiredLength }}
            caratteri.</span
          >
          }@if (shortDescriptionCtrl.errors?.['maxlength']) {
          <span
            >La descrizione breve deve essere lunga massimo
            {{ shortDescriptionCtrl.errors?.['maxlength'].requiredLength }}
            caratteri.</span
          >
          }
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="longDescription" class="form-label"
          >Descrizione Approfondita</label
        >
        <textarea
          id="longDescription"
          class="form-control"
          formControlName="longDescription"
          rows="8"
          [class.is-invalid]="
            longDescriptionCtrl.invalid &&
            (longDescriptionCtrl.dirty || longDescriptionCtrl.touched)
          "
        ></textarea>
        @if (longDescriptionCtrl.invalid && (longDescriptionCtrl.dirty ||
        longDescriptionCtrl.touched)) {
        <div class="invalid-feedback d-block">
          @if (longDescriptionCtrl.errors?.['maxlength']) {
          <span
            >La descrizione lunga deve essere lunga massimo
            {{ longDescriptionCtrl.errors?.['maxlength'].requiredLength }}
            caratteri.</span
          >
          }
        </div>
        }
      </div>

      <hr />

      <div class="mb-3">
        <label for="imagePath" class="form-label">Carica un immagine</label>
        <div class="input-group">
          <input
            type="file"
            id="imagePath"
            class="form-control"
            placeholder="es. percorso/immagine.jpg"
            accept="image/jpg,image/jpeg,image/png,image/gif,image/webp,image/svg"
            (change)="onFileSelected($event)"
          />
        </div>
      </div>

      <hr />

      @if(errorMessage()) {
      <div class="alert alert-danger" role="alert">
        {{ errorMessage() }}
      </div>
      }
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="activeModal.close('Close click')"
    >
      Annulla
    </button>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      {{ submitButtonText() }}
    </button>
  </div>
</div>
