<div class="page-limiter">
  <div class="d-flex d-xl-none">
    <div
      class="ms-auto my-auto d-flex flex-nowrap flex-shrink-0 small-h-visible align-item-center py-2 btn-search-container"
    >
      <button
        class="btn btn-primary-inverted btn-tongue btn-search"
        (click)="openSidebar(sidebar)"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <ng-template #sidebar let-offcanvas>
    <div class="offcanvas-header pb-2">
      <h5 class="offcanvas-title">Seleziona i segni</h5>
      <button
        type="button"
        class="btn-close"
        (click)="offcanvas.close()"
      ></button>
    </div>
    <div class="offcanvas-body pt-0 mt-0" id="offbody">
      <div class="flex-column">
        <app-filters [offcanvasRef]="offcanvas"></app-filters>
      </div>
    </div>
  </ng-template>
  <div class="container-fluid">
    <div
      class="ms-auto my-auto d-flex flex-nowrap flex-shrink-0 small-h-visible align-item-center py-2 btn-add-container"
    >
      <button
        type="button"
        (click)="openModalCombiantion()"
        class="btn btn-primary-inverted btn-tongue"
      >
        <div class="add-inner">+</div>
      </button>
    </div>
    <header class="row desktop-only mb-3">
      <div
        class="col-5 col-xl-4 align-items-center text-center d-none d-xl-block"
      >
        <div
          class="border-primary -bottom flex-grow-1 bg-title my-auto h2 py-2 px-4 ms-3"
        >
          Seleziona i segni
        </div>
      </div>
      <div class="col-12 col-lg-8 flex-grow-1 align-items-center">
        <div
          class="flex-grow-1 d-flex py-2 pe-2 align-items-center border-primary -bottom bg-title me-3 d-none d-xl-flex"
        >
          <div class="flex-grow-1 text-center my-auto h2">Combinazioni</div>
          <div class="ms-auto my-auto d-flex flex-nowrap flex-shrink-0">
            <div class="align-self-center me-2">Aggiungi:</div>

            <button
              type="button"
              (click)="openModalCombiantion()"
              class="btn btn-primary-inverted btn-tongue"
            >
              <div class="add-inner">+</div>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <aside class="col-xl-4 d-none d-xl-block">
        <div class="ms-3 border">
          <app-filters></app-filters>
        </div>
      </aside>
      <div class="col-12 col-xl-8">
        <app-combination-list></app-combination-list>
      </div>
    </div>
  </div>
</div>
