@if (errorMessage()) {
<div>{{ errorMessage() }}</div>
} @if (signsForm) {

<form [formGroup]="signsForm" (ngSubmit)="onSubmit()">
  <div formArrayName="rowSelections" class="p-1 pb-3 mb-3">
    @for (signCtrl of rowSelectionsFormArray.controls; track i; let i = $index;
    ) {
    <div class="d-flex" [class.bg-white]="$even">
      @if (signsData()[i]; as currentSignData) {
      <div>{{ currentSignData.signName }}</div>
      <div class="ms-auto">
        @for (option of currentSignData.radioOptions; track option.value) {
        @if(option.value != 0){
        <label>
          @if(option.value == 5){
          <input
            class="form-check-input form-check-inline margin-r"
            type="radio"
            [formControlName]="i.toString()"
            [value]="option.value"
            (click)="onRadioClick(i, option.value)"
          />
          }@else{
          <input
            class="form-check-input form-check-inline"
            type="radio"
            [formControlName]="i.toString()"
            [value]="option.value"
            (click)="onRadioClick(i, option.value)"
          />
          }
        </label>
        } }
      </div>
      }
    </div>
    }
    <button
      class="btn btn-outline-success mt-3 ms-auto"
      type="submit"
      [disabled]="!signsForm.valid"
    >
      Applica Filtri
    </button>
    <p></p>
  </div>
</form>
} @else {
<p>Inizializzazione filtri...</p>
}
