@if (errorMessage()) {
<div>{{ errorMessage() }}</div>
} @if (signsForm) {
<ng-template #gradi>
  <div>
    I valori selezionabili per ogni grado sono cosi definiti:
    <div>B = Basso (1-2/10)</div>
    <div>MB = Medio-Basso, Sottomedia (3-4/10)</div>
    <div>M = Medio (5/10)</div>
    <div>MA = Medio-Alto, Sopramedia (6-7/10)</div>
    <div>A = Alto (8-10/10)</div>
  </div>
</ng-template>
<div
  class="d-flex sticky-top bg-light"
  [ngbTooltip]="gradi"
  placement="bottom"
  container="body"
>
  <div class="ms-auto">
    <i class="bi bi-question-circle text-secondary"></i> Grado:
  </div>

  <div class="d-inline mx-3">B</div>
  <div class="d-inline medioBasso">MB</div>
  <div class="d-inline me-2">M</div>
  <div class="d-inline medioAlto">MA</div>
  <div class="d-inline alto">A</div>
</div>
<form [formGroup]="signsForm" (ngSubmit)="onSubmit()">
  <div formArrayName="rowSelections" class="pb-3 mb-3">
    @for(signType of signsTypes(); track signType) {
    <div class="bg-secondary-subtle text-center rounded-top">
      {{ signType }}
    </div>
    @for (signData of filteredSignsByType(signType); let j = $index; track j;) {
    <div
      class="d-flex ps-2 rounded"
      [class.bg-white]="$even"
      [class.rounded]="$even"
    >
      <div>{{ signData.signName }}</div>
      <div class="ms-auto">
        @for (option of signData.radioOptions; track option.value) {
        @if(option.value != 0) {
        <label>
          <input
            class="form-check-input form-check-inline border-secondary"
            type="radio"
            [formControlName]="signData.index.toString()"
            [value]="option.value"
            (click)="onRadioClick(signData.index, option.value)"
          />
        </label>
        } }
      </div>
    </div>
    } }

    <button
      class="btn btn-outline-success mt-3 float-end"
      type="submit"
      [disabled]="!signsForm.valid"
    >
      Cerca
    </button>
    <p></p>
  </div>
</form>
} @else {
<p>Inizializzazione filtri...</p>
}
