.alto {
  margin-right: 2.75rem;
}
.grado {
  width: 2.05rem;
  text-align: center;
}
.scrollable {
  height: calc(100vh - 13rem);
}

.extra-bottom-padding {
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 1200px) {
  .small-no-x-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .small-no-x-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .alto {
    margin-right: 0.75rem;
  }
  .scrollable {
    height: calc(100vh - 5.5rem);
  }
}
@media screen and (max-height: 800px) {
  .scrollable {
    height: calc(100vh - 8.5rem);
  }
}
