<div class="container-fluid ps-0 scrollable">
  <div class="row align-items-center d-lx-none steaky-top d-sm-none-max">
    <div class="col-xl-8 flex-grow-1 text-center d-flex mb-2">
      <div class="rounded me-1 bg-violet segni">Segni</div>
      <div class="rounded ms-1 bg-violet flex-grow-1">Significato</div>
    </div>
  </div>
  <div class="row overflow-auto">
    @for(singleCombination of this.combinationsDisplayed(); track
    singleCombination.id){
    <app-single-combination
      [combination]="singleCombination"
    ></app-single-combination>
    }
  </div>
</div>
