<div class="above-the-fold" [class.above-the-fold-up]="goDownNow">
  <div class="scene-3d">
    <div
      class="cylinder"
      [class.paused]="!isHovering"
      [class.running]="isHovering"
    >
      @for (index of imageIndex; track $index) {
      <div
        class="cylinder-panel"
        [style.transform]="
          'rotateY(' + $index * panelAngle + 'deg) translateZ(50vw)'
        "
      >
        <img [src]="image" />
      </div>
      }
    </div>
  </div>
  <div class="ellipse top" (mouseenter)="stop()" (mouseleave)="play()"></div>
  <img
    class="title"
    src="assets/combination-image/logo5.png"
    alt="Grafosupporter"
  />
  <div class="ellipse bottom" (mouseenter)="stop()" (mouseleave)="play()"></div>
  <div class="bottom-hider" (mouseenter)="stop()"></div>
</div>

<!--section class="login-section">
  <div class="text-center">
    <p class="lead mb-3">
      Registrati gratuitamente per cercare le combinazioni, oppure accedi
    </p>
    <div class="d-flex gap-2 justify-content-center">
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="openLogin()"
      >
        Login
      </button>
      <button class="btn btn-primary" type="button" (click)="openSignup()">
        Signup
      </button>
    </div>
  </div>
</section-->

<section class="">
  <div class="text-center">
    Lo scopo:
  </div>
  <div>
    Aiutare i grafologi durante l'analisi grafologica, in particolare nella fase dell'analisi che consiste nel combinare i significati dei segni rilevati. Inoltre l'altro grande obbiettivo che mi piacerebbe raggiungere attraverso questa applicazione web è favorire la collaborazione e il creare rete tra i grafologi. 
  </div>
  <div class="text-center">
    Come: 
  </div>
  <div>
    Nella pagina ricerca-combinazioni è possibile compilare un form con tutti i segni rilevati durante un analisi grafologica e il loro grado "basso medio-basso medio medio-alto alto" ed eseguire una ricerca incrociata in tutte le combinazioni presenti nel Database. 
    Le combinazioni vengono inserite solo dagli utenti (tramite il tasto "+"), quindi se non viene trovata nessuna combinazione è perché i segni trovati in quell'analisi non sono ancora stati registrati da qualcun altro in una cambinazione simile. 
    Gli utenti possono dare il proprio contributo ad una combinazione commentandola e votandola in modo che compaia più in alto oppure più in basso nei risultati con i bottoni freccia-su e freccia-giu. 
    In questo modo sarà la community a decretare se una combinazione è utile o meno ma tutti i contributi rimarranno comunque accessibili a chi li cerca. 
  </div>
  <div class="text-center">
    Come aggiungere una combinazione: 
  </div>
  <div>
    Per aggiungere una combinazione all'interno del database è importante conoscere questi concetti, derivati dall'integrazione della grafologia con le tecnologie utilizzate  de questa web app e utili all'indicizzamento della combinazione nel database. 
    Intervallo : L'intervallo di validità del grado di un segno è definito dal gado minore e maggiore che può assumere quel segno all'interno della combinazione senza stravolgerne il significato. Se un segno deve essere necessariamente assente perchè la combinazione abbia senso è possibile lasciare l'itervallo 0-0. 
    Opzionalità : Un segno opzionale all'interno della combinazione è un segno la cui presenza modula il significato della combinazione ma non è necessaria. 
  </div>
</section>
