@use "../../styles/variables" as *;

$ellipse-width: 125vw;
$ellipse-height: 100vh;
$ellipse-top-offset: -80vh;
$ellipse-bottom-offset: 50vh;
$ellipse-left: -12.5vw;
$scene-3d-perspective: 50vw;

.scene-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 1;
  overflow: hidden;
  perspective: 50vw;
  transform-style: preserve-3d;
}

.cylinder {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate-cylinder 90s linear infinite;
}

.paused {
  animation-play-state: paused;
}
.running {
  animation-play-state: running;
}

@keyframes rotate-cylinder {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.cylinder-panel {
  position: absolute;
  width: 35vw;
  height: 100vh;
  left: calc(50% - 17.5vw);
  top: 0;
}

.ellipse {
  position: absolute;
  left: var(--ellipse-left);
  width: var(--ellipse-width);
  height: var(--ellipse-height);
  background-color: $bg-home;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.75);
}
.top {
  top: var(--ellipse-top-offset);
}
.bottom {
  top: var(--ellipse-bottom-offset);
  border-radius: 50%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

img.title {
  position: absolute;
  left: 25vw;
  width: 50vw;
  height: auto;
  right: 15vw;
  top: calc(34.5vh - 50vw / 3.6218 / 2);
  z-index: 4;
}

.vertical-line {
  font-size: 1.5rem;
}

.bottom-hider {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100vh;
  background-color: $bg-home;
  z-index: 3;
}

.go-down {
  position: fixed;
  top: 0;
  text-align: center;
  flex: auto;
  flex-direction: column;
  left: calc(50vw - 6rem);
  z-index: 4;
  width: 12rem;
  height: 8rem;
  background-color: $transparent;
  border-width: 0;

  animation-name: go-down;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;

  transition: top 1.5s linear 0s;
}

.bi-arrow-down {
  font-size: 2rem;
}

@keyframes go-down {
  0% {
    top: calc(100vh - 9.5rem);
  }
  100% {
    top: calc(100vh - 8.7rem);
  }
}
.above-the-fold {
  position: relative;
  top: 0;
  transition: top 1.5s linear 0s;
}
.above-the-fold-up {
  top: -100vh;
}
.disabled-animation {
  animation: none !important;
}
.go-down-transition {
  top: -100vh;
}

.login-section {
  position: absolute;
  width: 50vw;
  height: auto;
  left: calc(50% - 25vw);
  top: 60vh;
  z-index: 2000;
}
