<div class="above-the-fold" [class.above-the-fold-up]="goDownNow">
  <div class="scene-3d" [style.--scene-3d-perspective]="scene3dPerspective()">
    <div
      class="cylinder"
      [class.paused]="!isHovering"
      [class.running]="isHovering"
    >
      @for (index of imageIndex; track $index) {
      <div
        class="cylinder-panel"
        [style.transform]="
          'rotateY(' + $index * panelAngle + 'deg) translateZ(50vw)'
        "
      >
        <img [src]="image" />
      </div>
      }
    </div>
  </div>
  <div
    class="ellipse top"
    [style.--ellipse-width]="ellipseWidthVw() + 'vw'"
    [style.--ellipse-top-offset]="ellipseTopOffsetVh() + 'vh'"
    [style.--ellipse-left]="ellipseLeftVw() + 'vw'"
  ></div>
  <img
    class="title"
    src="assets/combination-image/logo5.png"
    alt="Grafosupporter"
  />
  <div
    class="ellipse bottom"
    [style.--ellipse-width]="ellipseWidthVw() + 'vw'"
    [style.--ellipse-bottom-offset]="ellipseBottomOffsetVh() + 'vh'"
    [style.--ellipse-left]="ellipseLeftVw() + 'vw'"
  ></div>
  <div class="bottom-hider"></div>
</div>

<section class="login-section">
  <div class="text-center">
    @if (authService.isAuthenticated) {
    <p>{{ authService.currentUserValue?.name }} sei loggato con successo!</p>
    }@else {
    <p>Accedi per aggiungere nuove combinazioni alla piattaforma:</p>
    <div class="d-flex gap-2 justify-content-center">
      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="openLogin()"
      >
        Login
      </button>
      <button class="btn btn-primary" type="button" (click)="openSignup()">
        Signup
      </button>
    </div>
    }
  </div>
</section>
