.navbar-toggler:focus {
  box-shadow: 0 0 0 1px;
}
main {
  height: calc(100vh - 5rem);
  position: fixed;
  top: 3.5rem;
}

.app-navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100 !important;
}
footer {
  position: fixed;
  top: calc(100vh - 2.5rem);
  width: 100vw;
  z-index: 100 !important;
  font-size: small;
}
.logo-navbar {
  width: 6.3rem;
  height: auto;
  object-fit: cover;
}
