@use "./variables" as *;
@import "bootstrap/scss/functions";
$enable-rounded: false;
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";

.tooltipW > .tooltip-inner {
  max-width: 17rem;
  text-align: left;
}
@media screen and (min-width: 1400px) {
  .col-xl-4 {
    width: 440px !important;
  }
  .col-xl-8 {
    width: calc(100% - 440px - 0rem) !important;
  }
}
body {
  font-family: monospace !important;
}
body,
html {
  height: 100%;
  overflow: hidden;
}

body.active-scrolling,
html.active-scrolling {
  height: auto !important;
  overflow: auto !important;
  overflow-x: hidden !important;
}

/* Modifica il main quando lo scrolling è attivo */
body.active-scrolling main {
  position: relative !important;
  height: auto !important;
  top: auto !important;
  overflow: visible !important;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  min-height: calc(100vh - 8rem);
}

/* Modifica il footer quando lo scrolling è attivo */
body.active-scrolling footer {
  position: relative !important;
  top: auto !important;
  margin-top: 2rem;
}
.bg-title {
  background-color: $title;
  color: white !important;
}
.bg-light-title {
  background-color: $lightBG !important;
}
.btn-primary-inverted {
  color: $title;
  background-color: $yesButtons !important;
  border-color: $yesButtons !important;
}
.btn-primary-inverted:hover,
.btn-primary-inverted:active {
  background-color: $title !important;
  color: black !important;
}
button.btn-primary {
  color: $text-light !important;
  background-color: $title !important;
  border-color: $title !important;
}
button.btn-primary:hover,
button.btn-primary:active {
  background-color: $yesButtons !important;
  color: black !important;
}
.border-emphasis {
  border-color: $border !important;
  border-radius: 0.375rem !important;
  border-width: 1px !important;
  border-style: solid;
}
.no-rounded {
  border-radius: 0 !important;
}
/* Applica stile "mobile-like" a tutte le scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Per browser WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
}
