@media screen and (max-width: 992px) {
  .desktop-only {
    display: none;
  }

  #offbody {
    padding: 0.5rem !important;
  }
}
.btn-add {
  padding: auto !important;
}
.add-icon {
  font-size: 1rem !important;
  margin-top: 0.1rem !important;
}
.page-limiter {
  max-width: 1900px;
  margin: auto !important;
}
