@use "../../../../../../styles/variables" as *;
.combination-card {
  border: 1px solid $combination-card-border;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
  width: 100%;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.combination-card:not(.is-expanded):hover {
  border-color: $card-border;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.combination-card.is-expanded {
  border-color: $card-border;
}

.combination-body {
  border-top: 1px solid $combination-card-border;
  background-color: $combination-card-background;
}

.signs-column,
.description-column,
.signs-column-body,
.description-column-body {
  padding: 1rem;
  cursor: pointer;
}

.signs-column,
.signs-column-body {
  flex: 0 0 21rem;
  width: 21rem;
}
.chevron-icon {
  transition: transform 0.3s ease-in-out;
}

.chevron-icon.rotated {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .hidden {
    display: none;
  }
  .signs-column {
    flex-grow: 1;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .signs-column {
    margin: auto;
  }
  .signs-column-body,
  .description-column-body {
    flex-basis: auto;
  }
}

.text-purple {
  color: $text-purple;
}
.sign-name {
  width: 13rem;
}
.sign-grado {
  width: 4rem;
  text-align: right;
}
@media screen and (max-width: 390px) {
  .sign-grado {
    margin-right: 2rem;
  }
}

.btn {
  background-color: white;
}
