$title: #ff6200;
$border: #ecd3f4;
$lightBG: #fa700020;
$pageBG: #eee;
$yesButtons: #6f3801;
$text-light: white;
$card-border: #0d6efd;
$text-purple: #9113d6;
$combiantion-card-border: #dee2e6;
$combiantion-card-background: #f8f9fa;
$error: red;
$bg-home: white;
$transparent: rgba(0, 0, 0, 0);
