$title: #612370;
$border: #ecd3f4;
$lightBG: #fa700020;
$pageBG: #eee;
$yesButtons: #e9ccf1;
$text-light: white;
$card-border: #0d6efd;
$text-purple: #9113d6;
$combiantion-card-border: #dee2e6;
$combiantion-card-background: #f8f9fa;
$error: red;
