.alto {
  margin-right: 31px;
}
.grado {
  width: 2rem;
  text-align: center;
}

.filters-layout {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: calc(100vh - 13rem);
}

.filters-form {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.filters-scrollable {
  flex: 1 1 auto;
  min-height: 0;
  padding-bottom: 1rem;
}

.filters-actions {
  flex-shrink: 0;
  padding: 0.75rem 1rem;
  border-top: 1px solid #dee2e6;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  .small-no-x-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .small-no-x-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .alto {
    margin-right: 0.75rem;
  }
  .filters-layout {
    height: calc(100vh - 5.5rem);
  }
}
@media screen and (max-height: 800px) {
  .filters-layout {
    height: calc(100vh - 8.5rem);
  }
}

.hover-bg-light:hover {
  background-color: #f8f9fa !important;
}

.cursor-pointer {
  cursor: pointer;
}

.author-search-container {
  position: relative;
  z-index: 1;
}

.author-dropdown {
  z-index: 1050 !important;
  position: absolute;
  bottom: 100%;
  top: auto;
  left: 0;
  right: 0;
  margin-bottom: 0.25rem;
}

.filters-author-block {
  margin-top: 0;
}
