.alto {
  margin-right: 31px;
}
.grado {
  width: 2rem;
  text-align: center;
}
.scrollable {
  height: calc(100vh - 13rem);
}

.extra-bottom-padding {
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 1200px) {
  .small-no-x-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .small-no-x-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .alto {
    margin-right: 0.75rem;
  }
  .scrollable {
    height: calc(100vh - 5.5rem);
  }
}
@media screen and (max-height: 800px) {
  .scrollable {
    height: calc(100vh - 8.5rem);
  }
}

.hover-bg-light:hover {
  background-color: #f8f9fa !important;
}

.cursor-pointer {
  cursor: pointer;
}

.author-search-container {
  position: relative;
  z-index: 1;
}

.author-dropdown {
  z-index: 1050 !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
